.navbar {
    width: 100%;
    max-height: 100px;
    background-color: rgba(0,0,0,0.5);
    margin: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0 1rem;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.logo {
    width: 10rem;
}

.signin {
    border-radius: 3px;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #e50914;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: clamp(12px, 16px, 16px);
}