.accordion {
    width: 100%;
    border: none;
    margin-bottom: 0.5rem;
    height: max-content;
}

.accordion-title button {
    border: none;
    width: 100%;
    height: 5rem;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #303030;
    color:#fff;
    font-size: clamp(18px, 24px, 26px);
    text-align: left;
}

.accordion-body {
    color: #fff;
    padding: 1.5rem;
    background-color: #464545;
    font-size: clamp(18px, 24px, 26px);
    border-top: 3px solid #000;
}